<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" ><img src="https://cdn0.iconfinder.com/data/icons/house-and-real-estate-property-sales-and-investmen/2400/house_icon_with_key_to_open_the_houses_door_symbol-1024.png" alt="">HomeKey</a></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/homeKey">All List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/homeKey/add">Create More</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
