<ul class="nav nav-underline">
  <div class="alllisting">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page">🏠KeyDwell</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Keydwell/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Keydwell/create/">Create New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="Keydwell/about">About</a>
    </li>
  </div>
  <div class="sing-btn">
    <div class="btn-box">
      <form class="d-flex gap" role="search" action="/signin">
        <button class="btn btn-outline-success" type="submit">Sign In</button>
      </form>
      <form class="d-flex gap" role="search" action="/login">
        <button class="btn btn-outline-success" type="submit">Log In</button>
      </form>
    </div>
  </div>
</ul>
