@media (max-width:800px) {
    .row {
        display: flex !important;
        flex-direction: column !important;
    }

    .home-box {
        align-items: center !important;
    }

    .card {
        width: 50rem !important;
        height: 75vh !important;
    }

    .home-img {
        width: 100% !important;
        height: 50vh !important;
    }

    .card-body {
        height: 20vh !important;
    }

    h5,
    h4,
    h2 {
        font-size: 3.5vw !important;
    }

    p {
        font-size: 3vw !important;
    }

    .btn {
        font-size: 2.5vw !important;
    }

    .show-box {
        padding-left: 0vw !important;
        padding-right: 0vw !important;
    }

    .nav {
        font-size: 2rem !important;
        height: 8vh !important;
    }

    a {
        font-size: 3vw !important;
    }

    input,
    textarea {
        padding-left: 1rem !important;
        width: 95% !important;
        font-size: 1.5rem !important;
        border-radius: 2rem !important;
    }

    .form-box {
        padding-left: 0vw !important;
        padding-right: 0vw !important;
        align-items: center !important;
    }

    .form-text {
        font-size: 1.3rem !important;
    }

    .main {
        padding-left: 1rem !important;
        font-size: 2rem !important;
    }
        .flex-reviews{
        width: 100% !important;
        height: 15vh !important;
    }
    .flex{
        width: 90% !important;
    }
    .review-holder{
        font-size: 5vw !important;
    }
    #reviews-card{
        width: 95% !important;
        display: flex !important;
        justify-content: center !important;
        height: 22vh !important;  
    }
    #review-holder{
        font-size: 3vw !important;
    }
}

@media (max-width:500px) {
    a {
        font-size: 3.5vw !important;
    }
    .card-body {
        height: 10vh !important;
    }
    input,
    textarea {
        padding-left: 1rem !important;
        width: 98% !important;
        font-size: 1.5rem !important;
        border-radius: 1rem !important;
    }
    #reviews-card {
    height: 10vh !important;
    border: 1px solid black !important;
}
.review-holder {
    border-bottom: 1px solid black !important;
    font-size: 7.5vw !important;
}
}
#reviews-card {
    border: 1px solid black !important;
    border-radius: 1vw !important;
}

.review-holder {
    border-bottom: 1px solid black !important;
    font-size: 2.5vw !important;
}

#KeyDwell-box {
    padding-left: 1vw !important;
}
