@media(max-width:400px) {

    .navbar-brand img {
        width: 10vw !important;
    }
    .card-img-top{
        width: 20rem !important;
    }
    .card{
        width: 22rem !important;
    }
}

@media(max-width:550px) {
    .card-img-top{
        width: 30rem !important;
    }
    .card{
        width: 32rem !important;
    }
    .card-img-show{
        width: 95vw !important;
    }
    .card-title{
        width: 95vw !important;
    }
    .card-body{
        font-size: 3.5vw !important;
    }
    .show-body{
        width: 95% !important;
        font-size: 3.2vw !important;
    }
    .navbar-brand img {
        height: 13vw !important;
    }
    .mb-3{
        padding-left: 1vw !important;
    }
    h2{
        width: 50% !important;
    }
    input,textarea{
        width: 98% !important;
        border-radius: 3vw !important;
        padding-left: 2vw !important;
        padding: 3vw !important;
        font-size: 3.5vw !important;
    }
    label{
        font-size: 4.5vw !important;
    }
    .mb-3-more {
        padding-left: 44vw !important;
    }
}
