*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    overflow-x: hidden;
}

html,body{
    width: 100%;
    min-height: 100vh;
    background-color: #F8F9FA;
}
#box{
    text-align: center !important;
}
.navbar{
    height: 5rem !important;
    border-bottom: 1px solid black !important;
}
.list-box{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    gap: 2vw !important;
}
.navbar-brand img{
    width: 2.5vw !important;
}
.nav-link:hover{
    text-decoration: underline !important;
    color: red !important;
}
.card{
    border: none !important;
    border-radius: 2.5vw !important;
}
.image-style img{
    height: 40vh !important;
    object-fit: cover !important;
    border-radius: 2rem !important;
}
.btn:hover{
    background-color: red !important;
    border: none !important;
}
footer{
    border-top: 1px solid black;
    background-color: #F1EFEC;
    color: red;
    overflow: hidden;
    height: 6rem !important;
    text-align: center !important;
}
.itis{
    color: black !important;
}
.footer-link:hover{
    text-decoration: none !important;
    color: red !important;
}
.f-info-socials{
    display: flex !important;
    justify-content: center !important;
    gap: 1vw;
}
.fa-brands{
    font-size: 2vw;
}
.detail-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(40%, 0px);
}

.detail-imges img{
    width: 70% !important;
    height: 60vh !important;
    object-fit: cover !important;
    border-radius: 1vw !important;
}
.mb-3{
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    padding-left: 12vw;
}

input,textarea{
    width: 80% !important;
    padding: 0.5vw !important;
    border: 2px solid red !important;
    border-radius: 1vw !important;
}

.btn-center{
    width: 15% !important;
    background-color: red !important;
    border: none !important;
}

.btn-primary:hover{
    background-color: blue !important;
    color: #000 !important;
}
