.sansation-bold-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: italic;
}

a{
  text-decoration: none !important;
  color: black !important;
}
a:hover{
  color: red !important;
}
.nav-underline {
  padding: 1vw 1vw 1vw 1vw !important;
  height: 14vh !important;
  background-color: #E1E1E1 !important;
  padding-left: 2.5vw !important;
  border-bottom: 1px solid black !important;
  display: flex !important;
  justify-content: space-between !important;
}
.alllisting{
  display: flex !important;
  gap: 2vw !important;
}

.gap{
  display: flex !important;
  gap: 2vw !important;
}

/* main box of boilerplate */
body{
  overflow-x: hidden !important;
  background-color: #EFF3EA !important;
}
img{
  width: 100% !important;
  height: 45vh !important;
  object-fit: cover !important;
  border-radius: 1rem !important;
  margin-top: 1.5vw !important;
}
.home-box{
  padding: 2vw !important;
  margin-bottom: 3rem !important;
}

.card{
  border: none !important;
  height: 75vh !important;
  width: 24.5rem !important;
  border-radius: 1.5vw !important;
  margin-bottom: 1.5vw !important;
  background-color: #EFF3EA !important;
}

.card:hover{
  background-color: #D7D3BF !important;
}

h4{
  font-weight: bold !important;
  font-size: 1.5vw !important;
  margin-bottom: 1vw !important;

}
h5{
  font-weight: 500 !important;
  font-size: 1.3vw !important;
  margin-bottom: 1vw !important;
}

.btn-box{
  display: flex !important;
  align-items: center !important;
  gap: 2vw !important;
}

.show-box{
  padding-left: 20vw !important;
  padding-right: 20vw !important;
  margin-bottom: 1vw !important;
}
.show-img{
  height: 70vh !important;
  margin-bottom: 1vw !important;
}

.form-box{
  padding-left: 10vw !important;
  padding-right: 10vw !important;
}

input,textarea{
  border: 1px solid black !important;
  border-radius: 1vw !important;
  padding-left: 2vw !important;
}

.main{
  font-weight: 500 !important;
  margin-bottom: 1vw !important;
  text-decoration: underline !important;
}

#reviews-card{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.log {
  display: flex !important;
  flex-direction: row !important;
  gap: 2vw !important;
  align-items: center !important;
}

.flex {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.review-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#reviews-card {
  width: 22rem;
  flex-grow: 1;
}
