<% layout("layouts/boilerplate.ejs") %>

<h1>All Listing</h1>
    <div class="list-box row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <%for(let allhome of insertdata){%>
            <div class="card" style="width: 25rem;">
                <img src="<%= allhome.image.url%>" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">
                        <%=allhome.title%>
                    </h3>
                    <p class="card-text"><span>&#8377</span>
                        <%=allhome.price%>/night
                    </p>
                    <a href="/homeKey/<%=allhome._id%>" class="btn btn-primary">So More.</a>
                </div>
            </div>
        <%}%>
    </div>

    </html>
