<% layout("layouts/boilerplate.ejs") %>

<form method="post" action="/Keydwell/home">
  <div class="mb-3">
    <h2>Create New Listing</h2>
  </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"><b>Title</b></label>
      <input type="text" class="form-control" name="newhome[title]">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"><b>Description</b></label>
        <textarea name="newhome[description]" cols="10" rows="3" class="form-control"></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"><b>Image</b></label>
      <input type="url" class="form-control" name="newhome[image.url]">
      <div id="emailHelp" class="form-text">Image will pass in url formate.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"><b>Price</b></label>
      <input type="number" class="form-control" name="newhome[price]">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"><b>Email Address</b></label>
      <input type="email" class="form-control" name="newhome[email_id]">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"><b>Location</b></label>
      <input type="text" class="form-control" name="newhome[location]">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"><b>Country</b></label>
      <input type="text" class="form-control" name="newhome[country]">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
