<% layout("layouts/boilerplate.ejs") %>

    <div class="home-box row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <%for(let box of homedata){%>
            <div class="card col" style="width: 24rem;">
                <img src="<%=box.image.url%>" class="card-img-top" alt="some error">
                <div class="card-body">
                    <h5 class="card-title"><b>Title : </b>
                        <%=box.title%>
                    </h5>
                    <p class="card-text"><b>Price : </b>
                        <span>&#8377</span><%=box.price.toLocaleString("en-IN")%>
                    </p>
                    <a href="/Keydwell/show/<%=box._id%>" class="btn btn-primary">So More.</a>
                </div>
            </div>
            <%}%>
    </div>
